<md-content>

  <form name="survey" ng-submit="sendQuery()">
    <!-- A angular-material repeat container makes virutal scroll frame for repeated items. See https://material.angularjs.org/latest/demo/virtualRepeat -->

 <div class="question_card" layout="column" layout-align="center center" style= 'background-color:rgba(255,255,255,0.6)'>
    <div class="in-card" layout="column" layout-align="center">
            <div class="question-header">여행</div>
            <h1 class="question-h1">여행</h1>
            <p>계획 을 어떻게 짜쉴건가여</p>
            <div class = "img">

                <img src = "/assets/food/toronto_food.png">
                <img src = "/assets/food/taiwan_food.png">
                <img src = "/assets/food/nevada_food.png">
                <img src = "/assets/food/madrid_food.jpg">
                <img src = "/assets/food/iceland_food.png">

            </div>
            <!-- Options in a question should be grouped in a fieldset for form validation -->
      <!--       <fieldset id="{{question.name}}" ng-form="{{question.name}}">
              <label ng-repeat="option in question.options">
                <input ng-model="data.puppyData[question.name]" type="radio" name="{{question.name}}" value="{{option.value}}" ng-required="true">
                <span>옵션</span>
                <br />
              </label>
            </fieldset> -->
            <!-- Button to scroll(move) to the next question; disabled if this question is not answered -->
            <button class="md-raised question" ng-if="true" ng-disabled="false" type="button" ng-click="scrollTo($index+1)">다음 질문</md-button>
            <!-- Submit button for the entire form; disabled if any question is not answered -->
            <input class="md-button md-raised question primary" type="submit" ng-if="true" value="나에게 맞는 반려견 보기" ng-disabled="true" />
     </div>
</div>
</form>

    <md-virtual-repeat-container layout="column" ng-style="{'height': (height)+'px'}" md-top-index="topIndex">
      <!-- Angular-maretial repeat elements; md-item-size defines scroll height(position of topIndex) for one item -->
      <div md-virtual-repeat="question in questions" md-item-size="height">
        <div class="question-wrapper" layout="column" layout-align="center center" ng-style="{'height': (height)+'px', 'background-image': 'url(/assets/dog'+$index+'.jpeg)'}">
        </div>
        <!-- hr like line to divide questions -->
        <md-divider ng-if="$index!==(questions.length-1)"></md-divider>
      </div>
    </md-virtual-repeat-container>

</md-content>
