<!-- <ul id="menu" ng-click="vm.moog('asd')" >
  <li data-menuanchor="firstPage"><a>First slide</a></li>
  <li data-menuanchor="secondPage"><a>Second slide</a></li>
  <li data-menuanchor="3rdPage"><a>Third slide</a></li>
  <li data-menuanchor="4thpage"><a>Fourth slide</a></li>
</ul> -->

<div id= 'fullpage' full-page options="vm.mainOptions" >

<div class="section" id="section0" style="background-image: url('/assets/background/back0.png')" >
    <div class="intro">
    </div>
</div>
<div class="section" id="section1" style="background-image: url('/assets/background/back1.png')">
  <div class="intro">
  </div>
</div>

<div class="section" id="section2" style="background-image: url('/assets/background/back2.png')">
  <div class="intro">
  </div>
</div>

<div class="section" id="section3" style="background-image: url('/assets/background/back3.png')">
  <div class="intro">
  </div>
</div>

<div class="section" id="section4" style="background-image: url('/assets/background/back4.png')">
  <div class="intro">
  </div>
</div>

<div class="section" id="section5" style="background-image: url('/assets/background/back5.png')">
  <div class="intro">
  </div>
</div>

</div>

<md-content>

  <form name="survey" ng-submit="sendQuery()">

 <div class="question_card" layout="column" layout-align="center center" style= 'background-color:rgba(0,0,0,0.6)'>
    <div class="in-card" layout="column" layout-align="center">
            <div class="question-header">{{questions[questionIndex].subject}}</div>
            <h1 class="question-h1">{{questions[questionIndex].title}}</h1>
             <fieldset id="{{questions[questionIndex].name}}" ng-form="{{questions[questionIndex].name}}">
          <div class="list">
          <form ng-submit="submit()" ng-controller="AppCtrl" class="bidi" ng-cloak>
              <label ng-repeat="option in questions[questionIndex].options">

                <!-- <input ng-model="data.puppyData[questions[questionIndex].name]"  name="{{questions[questionIndex].name}}" value="{{option.value}}" ng-required="true"> -->
                <md-radio-group layout="row" ng-model="questions.options">
                <md-radio-button class="md-primary"  ng-value="{{$index}}" >{{option.text}}</md-radio-button>
                </md-radio-gruop>

                <br />
              </label>
          </form>
          </div>
          </fieldset>

           <ul id="menu">
             <li data-menuanchor="{{questionIndex+1}}">
               <a>
                 <button class="md-raised question" ng-if="true" ng-disabled="false" type="button" ng-click="nextquestion()">다음 질문
                 </button>
               </a>
             </li>
           </ul>
            <!-- Submit button for the entire form; disabled if any question is not answered -->
            <input class="md-button md-raised question primary" type="submit" ng-if="true" value="나에게 맞는 반려견 보기" ng-disabled="true" />
     </div>
</div>
</form>
</md-content>
