/* reset css */
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #424242;
}

ul {
  padding: 0;
  margin: 0;
}

/* Space out content a bit */
body {
  /*padding-top: 80px;
  padding-bottom: 20px;*/
  /*font-family : "Spoqa Han Sans", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;;*/
  line-height: 1.6;
}

.maintitle {
  font-size: 53px;
  line-height: 1;
  font-weight:bold;
  margin: 0;
  color:white;
}

p.intro {
  font-weight: 700;
  margin-bottom: 20px;
}

li.dog {
  padding: 0 20px 0 0;
}

li.dog:last-child {
  padding: 0;
}

div.intro {
  /*background-image: url("../assets/bg-image.jpg");*/
  background-size: cover;
}

.vid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  margin: 0;
}

.vid video {
  width: 100%;
  min-width: 1600px;
}

.title {
  z-index: 10;
  color: black;
}
div.question-wrapper {
  background-color: #ABABAB;
  background-size: cover;
}

div.in-card {
  width: 800px;
  height: 260px;


}

img{
    width:33%;
    height: 33%;
}

md-card.question {
  /*opacity: 0.8;*/
  width: 600px;
  height: 480px;
}

md-card.tabContent {
  margin: 50px 0 0 0;
  width: 740px;
  padding: 50px;
}

div.mydog {
  width: 640px;
}

header, footer {
  position: fixed;
  z-index: 10;
}

header {
  top: 40px;
  left: 40px;
}

header a {
  font-size: 20px;
  font-weight: 700;
  color: #E7E7E7;
}

.md-raised {
  -webkit-transition: background-color 1s;
  margin: 0;
}

.md-raised.intro {
  width: 420px;
  height: 46px;
  font-weight: bold;
}

.list{
  margin-top: 20px;
   text-align: center;
}

.md-raised.question {
  margin-top:30px;
  width: 800px;
  height: 46px;
  background-color: #2AE6D6;
  color: white;
  position:absolute;
  bottom: -50px;
}
.div.next-question {
  font-weight: 200px;
}

.question-header {
  font-size: 13px;
  padding: 0;
  margin-bottom: 79px;
  color:white;
}

.question-option {
  color: white;
  display: inline;
}

h1.question-h1 {
  text-align: center;
  color:white;
  font-size: 36px;
}

fieldset {
  margin:0 0 20px 0;
  padding:0;
  border-width: 0;
}

.result-wrapper {
  background-color: #E0F2F1;
}

.result-wrapper h1 {
  margin: 0 0 40px 0;
}

form {
 position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:500;
  border-radius:10px;
}

.question_card {
  padding:10px;
  border-radius:10px;
  -webkit-transition: height 1s ease-in;
}

.photo{
  height:500px !important;
  -webkit-transition: height 1s ease-in;
}
.nophoto{
  height:200px;
  -webkit-transition: height 1s;
}

.section {
  background:no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.list{
  color:white;
}



fieldset {
  text-align: center;
}



md-radio-group{
  margin-left: 8px;
  margin-top: 30px;
  text-align: center;

}

md-radio-button {
  color:white;
  font-size:15px;
}

md-radio-button .md-on {
  margin-left: 8px;
  background-color: #2AE6D6 !important;


}

md-radio-button .md-off {
  margin-left: 8px;
  border-color: gray;
}

md-radio-button.md-checked .md-off{
  border-color: #2AE6D6 !important;
}

button[disabled] {
    background-color:rgba(0,0,0,0.3) !important;
}

md-radio-button {
  color:white;
}
md-radio-button .md-off, md-radio-button .md-on {
  border-color:white !important;
}

.photobox{
  padding:0px !important;
  margin:0px;
  height:100px;
  width: 100px;
}
#photo-container {
  border-radius:5px;
  position:relative;
  width:70%;
}

.photobox img{
  padding:5px;
  width:100%;
  height:100%;
  -webkit-transition : width 0.3s, height 0.3s ;
}

.photobox img:hover{
  position:absolute;
  left:-40%;
  top:-40%;
  width:180%;
  height:180%;
  z-index:1000;
}
